 <!-- <h1 align="center" >Learn all about Directives</h1> -->
 <h1 style="background-color:'salmon'" align="center">Welcome to BigBazar online shopping app</h1>

<!-- INTERPOLATION -->
<!-- {{name}}
{{getFunction()}}
{{obj.age}}
{{arr[0]}}
{{a+b}} -->

<!-- DIRECTIVES -->

<!-- CustomDirective -->
<!-- <h2>Normal Heading</h2> -->
<!-- <h2 appCustomStyle>Custom Heading</h2>
<h2 appCustomStyle>Custom font Heading</h2> -->

<!-- ngSwitchDirective -->
<!-- <div [ngSwitch]="switchValue">
  <div *ngSwitchCase="1"><h1>First Practice Session</h1></div>
  <div *ngSwitchCase="2"><h2 style="background-color: rgb(209, 134, 134)">This is an Switch Directive example</h2></div>
  <div *ngSwitchCase="3"><h1>Third Practice Session</h1></div>
  <div *ngSwitchDefault>Default</div>
</div> -->

<!-- ngStyleDirective -->
<!-- <div [ngStyle]="{ 'background-color': 'salmon', color: '#fff' }">
  <h2>This is style Directive</h2>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus voluptates animi deleniti 
  obcaecati illum vel earum laudantium rem quos quod quisquam numquam saepe, 
  illo magnam quia omnis alias cum eveniet.
</div>
<div [ngStyle]="{ 'background-color': 'pink', color: txtColor === 'red' ? 'black' : 'Green' }">
 <h2> This is  another example of style Directive </h2>
 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi nulla adipisci minima voluptas libero, 
 aut officia! Iusto temporibus, odio nobis, totam quo quibusdam ullam, 
 aspernatur ipsum quae distinctio excepturi repellendus.
</div>
<br> -->

<!-- ngClassDirective -->
<!-- <div [ngClass]="'c1 c2'"><h2>This is Class Directive example</h2>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia aliquid odio non unde aut sed vero tempora consequuntur 
beatae reprehenderit harum modi, recusandae voluptatibus nostrum eos alias nesciunt quos qui.</div>
<br> -->

<!-- ngForDirective -->
<!-- <h2  appCustomStyle>This is For Directive example</h2>
<div align="center">
<strong><h1>Remaining topics for revision- </h1> </strong>
</div><br>
<table  align="center"  border="2" style="background-color: rgb(243, 224, 199); width: 25%;">
<tr *ngFor="let topic of topics;index as i">
    <td><h2>{{i}}</h2></td>
    <td><h2>{{topic}}</h2></td>
   </tr>
</table> -->

<!-- Events -->

<!-- clickEvent -->
<div align="right"><p><strong>You have added {{clickCount}} products in cart</strong> </p>
<strong>Your cart total is {{clickCount*20}}Rs</strong></div>

<input type="text" class="box" placeholder="Search Product"/>
<button align="center" (click)="searchEvent()">Search</button>

<div class="flex-container">
<div><img  src='..\assets\maggiImg.jpg'></div>
<div><img src='..\assets\juiceImg.jpg'>  </div>
<div><img src='..\assets\icecreamImg.jpg'>  </div>
<div><img src='..\assets\laysImg.jpg'>  </div>
<div><img src='..\assets\chocoImg.jpg'>  </div>
<div><img src='..\assets\colaImg.jpg'>  </div>
</div> 

<div class="flexBtn">
<div><button (click)="clickMe()">Add Maggi To Cart </button></div>
<div><button (click)="clickMe()">Add Juice To Cart</button></div>
<div ><button  (click)="clickMe()">Add Icecream To Cart </button></div>
<div ><button  (click)="clickMe()">Add Lays To Cart </button></div>
<div ><button  (click)="clickMe()">Add Chocolate To Cart </button></div>
<div ><button  (click)="clickMe()">Add Coca-cola To Cart </button></div>
</div>
<!-- MouseHoverEvent -->
<br>
<!-- <div (mouseenter)="changeText=true" (mouseleave)="changeText=false">
  <span *ngIf="!changeText"><h3 style="background-color: coral;">&nbsp; &nbsp; &nbsp; &nbsp; Special Offer Only For You!!&nbsp;  Special Offer Only For You!! &nbsp; Special Offer Only For You!!  &nbsp; Special Offer Only For You!!  &nbsp; Special Offer Only For You!!  &nbsp; Special Offer Only For You!!</h3></span>
  <span *ngIf="changeText"><img (click)="clickEvent()" class="imgCoupon" src='..\assets\couponImg.jpg'/></span>
</div> -->

<!-- Keyup-KeydownEvent -->
<div class="txt">
<input class="cls" type="text" (keyup)="onKeyUpEvent($event)" placeholder="Feedback" />
<br>
<input class="cls"type="text" (keydown)="onKeydownMain($event)" placeholder="Invite a Friend" />
</div> 

<!-- @input @output decorator -->
<h2 style="background-color: coral;">Enter Items You Want To Put In Wishlist</h2><input class="styleinp" type="text" (keyup.enter)="addFood(foodInp.value)"  placeholder="Add items to your wishlist" #foodInp>
<app-check-out [foods]="foods"(stringData)="reciveData($event)" ></app-check-out>




